@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Admin</h2>

<div id="UploadSection">        
    <% using (Html.BeginForm("fileUpload", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {%><br />
        <p><input type="file" name="fileUpload1" /> </p>
        <p><input type="submit" value="Upload file" /></p>        
    <% } %>    
</div>