@{
    ViewBag.Title = "ReadBook";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Read Book</h2>

<ul>
</ul>

<div class="row">
<div class="span12">
    <iframe src="http://docs.google.com/gview?url=http://www.google.com/google-d-s/docsQuickstartGuide.pdf&embedded=true" style="width: 720px; height: 500px" frameborder="0" runat="server"></iframe>
   @* <iframe src="Admin/GetFile/2&embedded=true" id="iframePDF" style="width: 720px; height: 500px" frameborder="0" runat="server" />*@
@*    <iframe src="http://docs.google.com/gview?url=@Html.ActionLink("GetFile","Admin",new { id = 2 }, null)&embedded=true" style="width: 720px; height: 500px" frameborder="0" runat="server"></iframe>*@
    @*<a href="@Html.ActionLink("GetFile","Admin",new { id = 2 }, null)">Click to get file</a>*@

        @*<iframe src="http://docs.google.com/gview?url=http://localhost:4247/Admin/GetFile/2&embedded=true" class="span9" style="height:700px" frameborder="0"></iframe>*@
   @*     <iframe src="Admin/GetFile/2&embedded=true" class="span9" style="height:700px" frameborder="0"></iframe>*@
@*        <iframe src="@Url.Content("Admin/GetFile/2")&embedded=true" class="span9" style="height:700px" frameborder="0"></iframe>*@
</div>
</div>
   
   




