@{
    ViewBag.Title = "DownloadPDF";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<!DOCTYPE html>

<h2>Download Book</h2>

@*Should we make this a direct link to the pdf download? Or should they view the pdf?*@
