@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}*@

<ol class="round">
    <text>
        <h3>Welcome to the offical site of Book Name!</h3>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
    </text>
</ol>
<br />
<br />
<br />
<div style="margin-left:300px">
    <input type="submit" value="Read Online" class="btn btn-primary btn-large" style="float:left"/>
    <input type="submit" value="Download PDF" class="btn btn-primary btn-large" />
</div>
<div style="margin-left:25px">

</div>

